<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="application.css">
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <%= link_to articles_path do %>
          <span> Blogs</span>
        <% end %>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title" style="font-size: 40px; font-family: Aries; font-weight: 700;"> Edit Article </div>
    
    <h2 style="color:white;">
      <p style="color:white;"><%= render "form", article: @article  %></p>          
    </h2>

  </div>
  
</body>
</html>
